{%  extends 'base.html.twig' %}

{% block title %} Contacts {% endblock %}

{%  block body %}

    <div id="main" class="container-fluid">
        <h3 class="page-header">New Contact</h3>
    </div>


    {{ form_start(form) }}


    <div class="row">
        <div class="form-group col-md-4">
            <label for="campo1">Name:</label>
            {{ form_widget(form.name ) }}
        </div>

        <div class="form-group col-md-4">
            <label for="campo2">Address:</label>
            {{ form_widget(form.address ) }}
        </div>

        <div class="form-group col-md-4">
            <label for="campo3">Country:</label>
            {{ form_widget(form.country ) }}
        </div>
        <div class="form-group col-md-4">
            <label for="campo1">City:</label>
            {{ form_widget(form.city ) }}
        </div>

        <div class="form-group col-md-4">
            <label for="campo2">Category:</label>
            {{ form_widget(form.category ) }}
        </div>

        <div class="form-group col-md-4">
            <label for="campo3">Country:</label>
            {{ form_widget(form.datetime ) }}
        </div>

    </div>


    {{ form_widget(form) }}

    <hr />
    <div id="actions" class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="index.html" class="btn btn-default">Cancelar</a>
        </div>
    </div>

    {{ form_end(form) }}


    <ul>
        <li>
            <a href="{{ path('contact_index') }}"><button class="btn btn-link" type="button">Back to the list</button></a>
       </li>
    </ul>
    </div></div>


{% endblock %}
